JWT_KEY = "secret"

DEVELOPMENT_USERNAME=root
DEVELOPMENT_PASSWORD=null
DEVELOPMENT_DATABASE=dev_base
DEVELOPMENT_HOST=127.0.0.1
DEVELOPMENT_DIALECT=mysql

TEST_USERNAME=root
TEST_PASSWORD=null
TEST_DATABASE=test_base
TEST_HOST=127.0.0.1
TEST_DIALECT=mysql

PRODUCTION_USERNAME=root
PRODUCTION_PASSWORD=null
PRODUCTION_DATABASE=production_base
PRODUCTION_HOST=127.0.0.1
PRODUCTION_DIALECT=mysql
